#contacto{
    .form-group{
        input,textarea{
            width: 100%; padding: 5px 15px;
        }
    }
}
#cta-contact{
    background: $black; color: $white; position: relative;
    .tablet{
        @media (min-width: 992px) {
            position: absolute; top: 50%; transform: translateY(-60%); z-index: 2;
            max-height: 400px;
        }
    }
}